@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply font-roboto-slab text-4xl;
  }
}

@layer components {
  .member-info > h4 {
    @apply font-roboto-slab font-bold text-lg;
  }
  .member-info > h4 > a {
    @apply underline underline-offset-2;
  }

  #consortium_partners > li {
    @apply py-2;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: #472B00;
}

.logo {
  width: 220px;
}

header li a {
  opacity: 0.5;
  font-weight: 700;
}

.active a {
  opacity: 1;
  border-bottom: 2px solid;
}

@media only screen and (max-width: 960px) {
  header {
    justify-content: center;
  }

  header .navItems {
    padding: 0;
    margin: 0;
  }
}

.readDatabtn-group {
  display: flex;
  justify-content: flex-start;
}

@media (min-width: 768px) {
  .readDatabtn-group {
    width: 60%;
  }
}

.readData-enter-active,
.readData-leave-active {
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.readData-enter-from,
.readData-leave-to {
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.develpoer_team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 350px;
  height: 100%;
  margin: 20px;
}

.profile-photo {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 80px;
  height: 80px;
  border-radius: 60%;
  position: relative;
  bottom: 25%;
  right: 40%;
  box-shadow: 4px 4px 10px 1px rgba(71, 43, 0, 0.3);
  max-width: none;
  filter: sepia(.1);
}

.member-container {
  max-width: 350px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #EDE6DA;
  border-radius: 10px;
}

.member-info p {
  margin-top: 10px;
  font-size: 16px;
}

.member-info p::first-letter {
  text-transform: uppercase;
}

.member-info p a {
  text-decoration: underline;
}

.member-info h4 {
  text-align: start;
}

@media only screen and (min-width: 750px) {
  .card:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
  }
  .card:nth-child(2) .member-container {
    height: 100%;
    justify-content: flex-start;
  }
  .card:nth-child(2) .profile-photo {
    object-position: center;
  }
}

.Introduction-container {
  position: relative;
  background-color: #EDE6DA;
  display: block;
  height: 100%;
  padding: 15px;
}

.intro-text {
  width: 100%;
  margin-top: 2em;
}

.intro-text p {
  margin-top: 2em;
  line-height: 1.3rem;
}

.book-mark {
  position: absolute;
  background-color: #DAB6BD;
  width: 3rem;
  height: 7rem;
  top: 0;
  z-index: 1;
  right: 30px;
  -webkit-clip-path: polygon(100% 100%, 50% 70%, 0 100%, 0% 0%, 100% 0, 100% 60%);
          clip-path: polygon(100% 100%, 50% 70%, 0 100%, 0% 0%, 100% 0, 100% 60%);
}

main {
  display: flex;
  flex-direction: column;
}

footer {
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #EDE6DA;
  background-image: url(./img/plus.svg);
}

.intro-title-section {
  display: block;
  background-image: url(../assets/img/plus.svg);
}

.catch-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catch-title h1 span {
  position: relative;
  color: #0D8435;
}

.catch-title h1 span::after {
  position: absolute;
  content: "";
  width: 88%;
  height: 100%;
  background-color: #B6DAC2;
  top: 5%;
  left: 5%;
  z-index: -1;
  transform: skew(8deg, -3deg);
  border-radius: 4px;
}

.catch-title h1 span:nth-child(2) {
  color: #0D5984;
}

.catch-title h1 span:nth-child(2)::after {
  background-color: #B6CDDA;
  transform: skew(-5deg, -3deg);
  text-align: center;
  width: 90%;
}

.catch-title h1 span:nth-child(3) {
  color: #840D22;
}

.catch-title h1 span:nth-child(3)::after {
  background-color: #DAB6BD;
  transform: skew(7deg, 3deg);
  width: 90%;
  top: 0.5vh;
}

.btn, .btn-outline {
  font-family: "Roboto Slab";
  background-color: #0D5984;
  color: #fff;
  font-size: 1rem;
  padding: 1rem 3rem;
  border-radius: 50px;
  border: 4px #0D5984 solid;
}

.btn-outline {
  background-color: #fff;
  color: #0D5984;
}

@media (min-width: 768px) {
  .btn, .btn-outline {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 855px) {
  .Introduction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDE6DA;
    padding: 0;
    font-size: 18px;
    margin: 2rem 10%;
    box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.1);
  }
  .intro-text {
    width: 60%;
  }
  .intro-text p {
    margin-top: 2rem;
    line-height: 1.8rem;
  }
}/*# sourceMappingURL=main.css.map */