@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply font-roboto-slab text-4xl;
  }
}

@layer components {
  .member-info > h4 {
    @apply font-roboto-slab font-bold text-lg;
  }
  .member-info > h4 > a {
    @apply underline underline-offset-2;
  }
}

body {
  color: #472B00;
}

header {
  background-color:#fff;
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo {
  width: 220px;
}

header li a {
  opacity: 0.5;
  font-weight: 700;
}

.active a {
  opacity: 1;
  border-bottom: 2px solid;
}

@media only screen and (max-width: 960px) {
  header {
    justify-content: center;
  }
  header li a {
    display: none;
  }
  header .navItems {
    padding: 0;
    margin: 0;
  }
}
.Data_container {
  height: 100%;
}

.processing_storage,
.datasets_annotation {
  display: block;
  padding: 10px;
}

.data-title {
  display: flex;
  justify-content: center;
  padding-top: 3em;
}

.data-title h1 {
  width: 60%;
  text-align: center;
  position: relative;
  padding: 10px;
  z-index: 1;
  border-bottom: 2px solid #ece6d9;
}

.data-title h1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 24%;
  background-color: #B6CDDA;
  height: 100%;
  width: 50%;
  z-index: -1;
  transform: skew(-5deg, -5deg);
}

.Datasets_contaier h3,
.processing-container h3 {
  margin-bottom: 10px;
}

.Datasets_contaier li a,
.processing-container li a {
  font-weight: 500;
  font-size: 18px;
  text-decoration: underline;
}

.Datasets_contaier li,
.processing-container li {
  padding-bottom: 10px;
}

.Datasets_contaier ul,
.processing-container ul {
  margin-top: 10px;
}

.Description {
  font-size: 16px;
  font-weight: 500;
  margin-left: 12%;
  margin-bottom: 20px;
}

.annotation_storge {
  cursor: progress;
}

.Datasets_contaier h5 {
  margin-left: 5%;
}

.Datasets_contaier li,
.processing-container li {
  margin-left: 10%;
}

.readDatabtn-group {
  display: flex;
  justify-content: flex-start;
}

@media (min-width: 768px) {
  .readDatabtn-group {
    width: 60%;
  }
}

.readData-enter-active,
.readData-leave-active {
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.readData-enter-from,
.readData-leave-to {
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

@media only screen and (min-width: 855px) {
  .Data_container {
    display: block;
    justify-content: space-evenly;
    margin: 3% 8%;
  }
  .Description {
    width: 100%;
    font-size: 16px;
    padding-top: 10px;
    margin-left: 4%;
  }
  .datasets_annotation {
    width: 100%;
  }
  .processing_storage {
    width: 100%;
  }
  .Datasets_contaier ul,
  .processing-container ul {
    display: flex;
  }
  .Datasets_contaier li p {
    border-right: 1px solid #cecece;
  }
  .Datasets_contaier li a,
  .processing-container li a {
    font-size: 20px;
  }
  .data-title h1::after {
    left: 35%;
    width: 30%;
  }
}
.team_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2em;
}

.team_title h1 {
  width: 100px;
  padding: 10px;
  border-bottom: 2px solid #000;
  margin-bottom: 10px;
  text-align: center;
}

.develpoer_team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 350px;
  height: 100%;
  margin: 20px;
}

.profile-photo {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 80px;
  height: 80px;
  border-radius: 60%;
  position: relative;
  bottom: 30%;
  right: 40%;
  box-shadow: 4px 4px 10px 1px rgba(38, 32, 32, 0.6);
  max-width: none;
  filter: sepia(.1);
}

.member-container {
  max-width: 350px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #EDE6DA;
  border-radius: 10px;
}

.member-info p {
  margin-top: 10px;
  font-size: 16px;
}

.member-info p::first-letter {
  text-transform: uppercase;
}

.member-info p a {
  text-decoration: underline;
}

.member-info h4 {
  text-align: start;
}

@media only screen and (min-width: 750px) {
  .card:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
  }
  .card:nth-child(2) .member-container {
    height: 100%;
    justify-content: flex-start;
  }
  .card:nth-child(2) .profile-photo {
    object-position: center;
  }
}
.contibutors_container {
  margin-top: 5%;
  background-color: #EDE6DA;
  height: 100%;
}

.Contributors_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Contributors_title h1 {
  padding: 10px;
  margin-top: 10px;
  border-bottom: 2px solid #000;
  margin-bottom: 10px;
}

.Contributors_list {
  padding: 20px;
}

.Contributors_list nav {
  display: block;
}

.Contributors_list nav ul li {
  margin-bottom: 1rem;
  line-height: 2rem;
}

.Contributors_list li a {
  text-decoration: underline;
}

.Contributors_list span {
  margin-left: 10px;
}

@media only screen and (min-width: 890px) {
  .Contributors_list nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 5rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
}

.Introduction-container {
  position: relative;
  background-color: #EDE6DA;
  display: block;
  height: 100%;
  padding: 15px;
}

.intro-text {
  width: 100%;
  margin-top: 2em;
}

.intro-text p {
  margin-top: 2em;
  line-height: 1.3rem;
}

.book-mark {
  position: absolute;
  background-color: #DAB6BD;
  width: 3rem;
  height: 7rem;
  top: 0;
  z-index: 1;
  right: 30px;
  -webkit-clip-path: polygon(100% 100%, 50% 70%, 0 100%, 0% 0%, 100% 0, 100% 60%);
          clip-path: polygon(100% 100%, 50% 70%, 0 100%, 0% 0%, 100% 0, 100% 60%);
}

footer {
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #EDE6DA;
  background-image: url(./img/plus.svg);
  padding-left: 4%;
}

footer h2 {
  font-size: 20px;
  margin: 10px;
}

footer p {
  padding: 10px;
  font-size: 20px;
  margin-bottom: 3em;
}

footer p a {
  color: #0D5984;
  text-decoration: underline;
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
}

.intro-title-section {
  display: block;
  background-image: url(../assets/img/plus.svg);
}

.font-roboto-slab, .font-roboto-slab > * {
  font-family: "Roboto Slab";
}

.catch-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catch-title h1 {
  font-size: 3rem;
}

.catch-title h1 span {
  position: relative;
  color: #0D8435;
}

.catch-title h1 span::after {
  position: absolute;
  content: "";
  width: 88%;
  height: 100%;
  background-color: #B6DAC2;
  top: 5%;
  left: 5%;
  z-index: -1;
  transform: skew(8deg, -3deg);
  border-radius: 4px;
}

.catch-title h1 span:nth-child(2) {
  color: #0D5984;
}

.catch-title h1 span:nth-child(2)::after {
  background-color: #B6CDDA;
  transform: skew(-5deg, -3deg);
  text-align: center;
  width: 90%;
}

.catch-title h1 span:nth-child(3) {
  color: #840D22;
}

.catch-title h1 span:nth-child(3)::after {
  background-color: #DAB6BD;
  transform: skew(7deg, 3deg);
  width: 90%;
  top: 0.5vh;
}

.btn, .btn-outline {
  font-family: "Roboto Slab";
  background-color: #0D5984;
  color: #fff;
  font-size: 1rem;
  padding: 1rem 3rem;
  border-radius: 50px;
}

.btn-outline {
  border: 4px #0D5984 solid;
  background-color: #fff;
  color: #0D5984;
}

@media (min-width: 768px) {
  .btn, .btn-outline {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 855px) {
  .catch-title h1 {
    margin-top: 3rem;
    font-size: 8rem;
    line-height: 12rem;
  }

  .Introduction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDE6DA;
    padding: 0;
    font-size: 18px;
    margin: 2rem 10%;
    box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.1);
  }
  .intro-text {
    width: 60%;
  }
  .intro-text p {
    margin-top: 2rem;
    line-height: 1.8rem;
  }
  .intro-text h1::after {
    width: 25%;
    left: 38%;
  }
}/*# sourceMappingURL=main.css.map */